h1{
    color: brown;
    font-size: 40PX;
}
p{
    color: blue;
    font-family: cursive;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
    text-indent: 40px;
    letter-spacing: 1px;
}
li{
    color: red;
}
a{
    color: blueviolet;
    font-size: 29px;
}
a:hover{
    color: red;
    font-size: 40px;
}
a:active{
    color: green;
    font-size: 35px;
}
.red{
    color: red;
}
.blue{
    color:blue
}
.green{
    color: green;
}
.style1{
    color: blueviolet;
}
.style2{
    color: aquamarine;
}
.style3{
    color: aqua;
}
.style4{
    color: burlywood;
}
.border{
    text-align: left;
    border-top: 3px solid red;
    border-bottom: 3px dashed blue;
    border-right: 3px dotted pink;
    border-left: 3px solid green;
}