.style{
    font-size: 20px;
    font-family: serif;
    text-align: left;
    text-indent: 40px;
    letter-spacing: 10px;
    line-height: 3;

}
.style a{
    font-size: 20px;
    font-family: serif;
    text-align: left;
    text-indent: 40px;
    letter-spacing: 10px;
    line-height: 3;
    background: blue;
    color: beige;
    
}